@model IEnumerable<MyApp.Models.Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row pb-4 pt-4">
    @foreach (var item in Model)
    {
        <div class="card" style="width: 18rem;">
            <img src="@item.ImageUrl" class="card-img-top pt-2" alt="internalIssue...">
            <div class="card-body">
                <h5 class="card-title">@item.ProductName</h5>
                <p class="card-text"> Price: @item.Price.ToString("0.00")</p>
                <a asp-action="Details" asp-controller="Home" asp-route-id="@item.ProductId" class="btn btn-primary">Details</a>
            </div>
        </div>
    }
</div>